a {
    color: black;
}

a:link {
    text-decoration: none;
}

html, body {
    align-content: normal;
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    height: 100%
}

footer {
    flex-direction: row;
    margin: auto auto 0.5em auto;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0.33em 0em 0.33em 0em;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.83em 0em 0.83em 0em;
}

header {
    align-items: center;
    flex-direction: column;
}

nav {
    margin-top: 0.83em;
}

nav > ol {
    display: flex;
    justify-content: center;
}

nav > ol > li:nth-child(even) {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

nav > ol > li:last-child {
    border-right: 0;
}

nav > ol > li {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

nav > ol > li > a {
    font-weight: bold;
}

nav > ol > li > a:hover {
    text-decoration: underline;
}

section {
    margin-top: 0.5em;
}

section > p:not(:first-child) {
    margin-top: 1em;
}

.content {
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 0px 30px -20px rgb(110, 110, 110);
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    padding: 1.5em 5em 1.5em 5em;
}

@media(4000px <= width) {
    .content {
        margin-left: 35%;
        margin-right: 35%;
    }
}

@media (3200px <= width < 4000px) {
    .content {
        margin-left: 33%;
        margin-right: 33%;
    }
}

@media (2300px <= width < 3200px) {
    .content {
        margin-left: 27%;
        margin-right: 27%;
    }
}

@media (1700px <= width < 2300px) {
    .content {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media (1500px <= width < 1700px) {
    .content {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (1000px <= width < 1500px) {
    .content {
        margin-left: 5%;
        margin-right: 5%;
        padding: 1.5em 3em 1.5em 3em;
    }
}

@media (600px <= width < 1000px) {
    .content {
        margin-left: 5%;
        margin-right: 5%;
        padding: 1.5em;
    }
}

@media (width < 600px) {
    .content {
        background-color: rgb(245, 245, 245);
        border-radius: 0px;
        box-shadow: none;
        padding: 1.5em;
    }
}

.flex-center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid-links {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin-left: 1em;
    margin-top: 1em;
}

@media (width <= 600px) {
    .grid-links {
        grid-template-columns: repeat(2, 1fr);
    }
}

.grid-link {
    background-color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px -5px rgb(50, 50, 50);
    grid-row: auto;
    grid-column: auto;
    padding: 1.5em;
}

.grid-link:hover {
    box-shadow: 0px 0px 15px 0px rgb(50, 50, 50);
}

.indent {
    text-indent: 1rem;
}

.link-logo {
    margin-bottom: 0.5em;
}

.profile-picture {
    border-radius: 50%;
    outline: black solid 1px;
    height: 128px;
    width: 128px;
}

.subtitle {
    font-style: italic;
    margin-bottom: 1em;
}