.copyrightFooter {
    align-items: stretch;
    border-top-color: gray;
    border-top-style: solid;
    border-top-width: 0.01rem;
    display: flex;
    flex-direction: column;
    grid-row: "footer";
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}